
.tabs {
  margin: 20px 0;
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: bolder;
}

.tab-btn {
  padding: 10px 20px;
  background-color: navy;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tab-btn:hover {
  background-color: rgba(0, 0, 128, 0.9);
}

.tab-btn.active {
  background-color: rgb(106, 119, 119);
  color: white;
}

.tab-contents {
  background: beige;
  padding: 20px;
  border: 1px solid bisque;
  border-radius: 5px;
}

.tab-content {
  display: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
}

.tab-content.active {
  display: block;
}

section.tab-content h2 {
  color: navy;
  margin-bottom: 15px;
}

section.tab-content p {
  line-height: 1.6;
}

section.tab-content ol {
  padding-left: 20px;
  line-height: 1.6;
}

.tab-buttons a:hover {
  color: rgb(0, 0, 0);
  background-color: blueviolet;
}
