header {
  background-color: rgb(106, 119, 119);
  text-align: center;
  border-radius: 15px;
  font-size: larger;
  font-weight: bolder;
  color: rgb(90, 60, 60);
  box-shadow: 0 3px 3px 0 rgba(101, 110, 102, 0.4);
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: rgb(255, 255, 255);
  padding: 0 15px;
}

label.logo {
  margin-right: auto;
  padding: 20px;
}

nav a:hover {
  background-color: rgba(91, 105, 198, 0.9);
  border-radius: 20px;
}

footer {
  background-color: rgb(9, 13, 61);
  color: white;
}

footer section {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

footer > p {
  text-align: center;
  background-color: gray;
  padding-top: 10px;
}

footer a {
  text-decoration: none;
  color: rgb(98, 101, 162);
}

body {
  min-height: 100vh;
}
